@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animation-init {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
.animation-init {
  animation-name: animation-init;
  animation-duration: 200ms;
}

h1 {
  @apply text-xl .font-medium;
}
.loader {
  display: inline-block;
  width: 5rem;
  height: 5rem;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}
.input {
  @apply block border-2 bg-transparent border-gray-300 rounded-md py-1 px-2 mb-4 transition-colors duration-300;
}

.input:focus,
.input:active {
  @apply border-blue-500;
}
